body{
  margin: 0px;
  padding: 5px;
  background-image: radial-gradient(circle at -20.71% 50%, #ffffff 0, #ffffff 12.5%, #faffff 25%, #dbf3fa 37.5%, #bae2f2 50%, #99d1ec 62.5%, #7cc1e7 75%, #63b1e3 87.5%, #4da3df 100%);}

#lienzo {
  width: 80%;
  margin: auto;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

#map { height: 180px; }

header{
    height: 130px;
}
header h1{
  border: 3px solid black;
  border-radius: 70px;
  margin: auto;
  font-size: 40px;
  text-align: center;
  line-height: 100px;
  padding: 10px;
}
section{
  height: 400px;
  width: 500px;
  margin: auto;
  float: left;
  padding: 0px;
}
h2{
  font-size:  35px;
  text-align: right;
  margin: 0px;
  padding-bottom: 0px;
  padding-top: 20px;
  padding-right: 15px;
}
table{
  font-size: 12px;
   width: 520px;
   height: 100px;
   border: 0px;
   float: right;
   text-align: center;
   
}
tr{
  border: 5px solid black;
  border-radius: 70px;
}
aside{
  width: 700px;
  margin: auto;
  float: left;
  text-align: right;
  padding: 0px;
  
}
h3{
  font-size:  35px;
  text-align: center;
  margin: 0px;
  padding: 20px;
}
h4{
  font-size:  15px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
footer{
  clear: both;
}
