@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body, #container{
  height: 100%;

}

#map{
  width: 100%;
  height: 80%;
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;

}

#overlay1{
    font-family: "Montserrat", sans-serif;
    position: absolute;
    z-index: 1000;
    background: rgba(255,255,255,0.7);
    padding: 10px;
    right: 0;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px gray;
    min-height: 200px;
    text-align: center;
}

#overlay2{
  font-family: "Montserrat", sans-serif;
  position: absolute;
  z-index: 1000;
  background: rgba(255,255,255,0.7);
  padding: 5px;
  margin: 5px;
  margin-left: 35px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px gray;
  min-height: 100px;
  text-align: center;

}

#envio, #lat, #lon{
  color: #1f7592;
  align-items: left;
}

li, a, button{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  height: 5%;
}

.logo{
  cursor: pointer;

}

.nav__links{
  list-style: none;

}

.nav__links li{
  display: inline-block;
  padding: 0px 20px;

}

.nav__links li a{
  transition: all 0.3s ease 0s;

}

.nav__links li a:hover{
  color: #0088a9

}

button{
  padding: 9px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

}

button:hover{
  background-color: rgba(0, 136, 169, 0.8);

}

footer{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #edf0f1;
  height: 5%;
}

#footnames{
  padding: 9px;
  
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;

}

#noresults{
  font-family: "Montserrat", sans-serif;
  z-index: 1000;
  background: rgba(255,255,255,0.7);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px gray;
  min-height: 100px;
  text-align: center;
}

#noresults::backdrop{
  background-color: rgba(0, 0, 0, .55);


}


#restable{
  font-family: "Montserrat", sans-serif;
  z-index: 1000;
  background: rgba(255,255,255,0.7);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px gray;
  min-height: 100px;
  text-align: center;
}

#restable::backdrop{
  background-color: rgba(0, 0, 0, .55);


}

table, th, td {
  border: 1px solid;
}

.leaflet-popup-content{
  font-family: "Montserrat", sans-serif;
  position: absolute;
  z-index: 1000;
  background: rgba(255,255,255,0.85);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px gray;
  text-align: center;

}